div.header {
	width: 100%;
	margin: auto;
	text-align: center;
}

header {
	text-align: center;
	border-bottom: 2px solid #f4f4f4;
}

ul {
	list-style-type: none;
}

li a {
	font-size: 0.8rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #888;
}

div.header #user {
  position: relative;
  display: block;
  margin-top: 140px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 0px solid #f0f0f0;
  text-align: center;
}

div.header #user h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 38px;
  color: #474E3C;
  font-weight: 900;
  font-family: 'freight-sans-pro', sans-serif;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 10px;
}

div.header #user h3 {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  color: #59624D;
  font-weight: 300;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 55px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

div.header #user-logo {
	width: 110px;
  height: 110px;
  background-size: 110px 110px;
  display: block;
  border: 2px solid #9BA450;
  border-radius: 100%;
  margin: 0 auto;
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -o-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -webkit-font-smoothing: antialiased;
}

ul#user-links {
  clear: both;
  display: block;
}

ul#user-links li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

ul#user-links li a {
  display: inline-block;
  border: 1px solid #e4e4e4;
  padding: 4px 18px 4px 18px;
  border-radius: 30px;
  line-height: 20px;
  color: #8c8c8c;
  font-weight: 400;
  font-size: 14px;
  transition-property: all;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -o-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -webkit-font-smoothing: antialiased;
}
