$font-stack: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color: #aaa;

body {
	margin: auto;
	font: 100% $font-stack;
  color: $primary-color;
}

h1, h2, h3 {
	margin-top: 24px;
	margin-bottom: 12px;
  text-transform: capitalize;
  color:#0C1723;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 a:hover {
  color: #DF4A7F;
}

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  li {
    color: #1677AA;
    font-weight: bold;
  }
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4D4D4D;
  font-weight: 400;
}

button.buttonize, a.buttonize {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  font-size: 22px;
  font-weight: 300;
  line-height: 45px;
  background-color: transparent;
  color: #767676;
  border: 1px solid #e4e4e4;
  outline: none;
  transition-property: all;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -o-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -webkit-font-smoothing: antialiased;
}

article {
  button.buttonize, a.buttonize {
    margin-top: 30px;
  }
}

button.buttonize.small, a.buttonize.small {
  font-size: 15px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
}

button.buttonize.tiny, a.buttonize.tiny {
  font-size: 12px;
  line-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
}

button.buttonize:hover, a.buttonize:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  font-weight: 400;
}

a, a:visited {
  color: #333;
  text-decoration: none;
  outline: 0;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -o-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -webkit-font-smoothing: antialiased;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -o-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -webkit-font-smoothing: antialiased;
}

ul#user-links li a:hover, a.buttonize:hover, button.buttonize:hover {
  background-color: #DF4A7F;
  border-color: #DF4A7F;
}

hr {
  width: auto;
  max-width: 100%;
  height: 1px;
  background-color: #f0f0f0;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  clear: both;
  border: 0px;
  clear: both;
  border-radius: 5px;
  color: #f4f3f3;
}

div.slide {
  transform: translate3d(-50px, 0, 0);
  -moz-transform: translate3d(350px, 0, 0) scale(0);
  -webkit-transform: scale(1) rotate3d(20, 20, 0, -27deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  div#post-menu {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    transform: translate3d(0, 0, 0) scale(1.5) rotate3d(10, 10, 10, 10deg);
    -webkit-transform: scale(1) rotate3d(10, 10, 10, 10deg);
  }
}

div.slideOff {
  transform: translate3d(-50px, 0, 0);
  -moz-transform: translate3d(350px, 0, 0) scale(0);
  -webkit-transform: translate3d(0,0,0) scale(1) rotate3d(0, 0, 0, 0deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  div#post-menu {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    transform: translate3d(0, 0, 0) scale(1.5) rotate3d(10, 10, 10, 10deg);
    -webkit-transform: translate3d(0, 0, 0) scale(1.5) rotate3d(10, 10, 10, 10deg);
  }
}

/* Small Devices, Tablets from https://scotch.io/quick-tips/default-sizes-for-twitter-bootstraps-media-queries */
@media only screen and (min-width : 768px) {
  body {
    width: 750px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  body {
    width: 750px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  body {
    width: 750px;
  }
}

