$font-stack: Helvetica, sans-serif;
$primary-color: #aaa;

body {
	width: 750px;
	margin: auto;
	font: 100% $font-stack;
  color: $primary-color;
}

h1, h2, h3 {
	margin-top: 24px;
	margin-bottom: 12px;
  text-transform: capitalize;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: 'freight-sans-pro', 'Helvetica', 'Avenir', 'Arial', sans-serif;
  font-weight: inherit;
}

div.main-content {
	-webkit-padding-start: 40px;
}

button.buttonize, a.buttonize {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  font-size: 22px;
  font-weight: 300;
  line-height: 45px;  
  background-color: transparent;
  color: #767676;
  border: 1px solid #e4e4e4;  
  outline: none;
  transition-property: all;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -o-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -webkit-font-smoothing: antialiased;
}

button.buttonize.small, a.buttonize.small {
  font-size: 15px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
}

a, a:visited {
  color: #333;
  text-decoration: none;
  outline: 0;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -o-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -webkit-font-smoothing: antialiased;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -o-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -webkit-font-smoothing: antialiased;
}
