article {
  padding-left: 20px;
  position: relative;
}

article.post h1 {
  font-size: 40px;
  line-height: 35px;
  margin-bottom: 15px;
  margin-top: 0px;
}

article.post p {
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: justify;
}

article .markdown-body a {
  border-bottom: 2px solid #e1e1e1;
}

article .markdown-body a:hover {
  border-color: #FF0042;
}

article h1, article h2, article h3, article h4, article h5, article h6, article ol, article ul, article table, article blockquote, article .markdown-body, .buttons {  
  padding-right: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 700px;
}

.preview {
  overflow: hidden;
  max-height: 430px;
}

div.markdown-body p:first-child::first-letter {
  float: left;
  font-size: 3em;
  font-weight: 700;
  line-height: 50px;
  margin: 5px 8px -9px 0;
  color: #DF4A7F;
}

code:not([class]) {
  background-color: #FEF6BF;
}
