article {
  padding-left: 20px;
  position: relative;
  &.post {
    h1 {
      font-size: 40px;
      line-height: 35px;
      margin-bottom: 15px;
      margin-top: 0px;
    }
    h2, h3 {
      position: relative;
      button.menu {
        background: #E0E2DB;
      }
    }
    p {
      margin-top: 20px;
      margin-bottom: 20px;
      -webkit-font-smoothing: antialiased;
      text-align: justify;
    }
    div.post-buttons {
      position: absolute;
      right: 0;
      display: inline-flex;
      button.c-hamburger {
        position: relative;
        margin-left: 5px;
      }
    }
    div#post-menu {
      position: absolute;
      right: 5%;
      background-color: white;
      opacity: 0.95;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
      z-index: 100;
      display:none;
      &.show {
        display: block;
      }
      li {
        list-style-type: none;
        color: #0C1723;
        text-transform: capitalize;
        a {
          font-size: 1.1rem;
        }
      }
    }

  }
}

article .markdown-body a {
  border-bottom: 2px solid #e1e1e1;
}

article .markdown-body a:hover {
  border-color: #FF0042;
}

article h1, article h2, article h3, article h4, article h5, article h6, article ol, article ul, article table, article blockquote, article .markdown-body, .buttons {
  padding-right: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 700px;
}

.preview {
  overflow: hidden;
  max-height: 430px;
}

div.markdown-body p:first-child::first-letter {
  float: left;
  font-size: 3em;
  font-weight: 700;
  line-height: 50px;
  margin: 5px 8px -9px 0;
  color: #DF4A7F;
}

code:not([class]) {
  background-color: #FEF6BF;
}
